<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet"
          href="css/styles.css"/>
    <link rel="icon"
          href="images/favicon.png"/>
    <title>Pexeso</title>
</head>
<body>

    <h1>Pexeso</h1>

    <h2>Tato verze nefunguje. Jde jen o statickou stranku. Nahradte ji sablonou ze sveho ukolu 03</h2>

    <form method="post" class="pexeso">

        <input type="image" src="images/rub.png" name="vybranaKarta0"/>
        <input type="image" src="images/rub.png" name="vybranaKarta1"/>
        <input type="image" src="images/rub.png" name="vybranaKarta2"/>
        <input type="image" src="images/rub.png" name="vybranaKarta3"/>

        <input type="image" src="images/rub.png" name="vybranaKarta4"/>
        <input type="image" src="images/rub.png" name="vybranaKarta5"/>
        <input type="image" src="images/rub.png" name="vybranaKarta6"/>
        <input type="image" src="images/rub.png" name="vybranaKarta7"/>

        <input type="image" src="images/rub.png" name="vybranaKarta8"/>
        <input type="image" src="images/rub.png" name="vybranaKarta9"/>
        <input type="image" src="images/rub.png" name="vybranaKarta10"/>
        <input type="image" src="images/rub.png" name="vybranaKarta11"/>

        <input type="image" src="images/rub.png" name="vybranaKarta12"/>
        <input type="image" src="images/rub.png" name="vybranaKarta13"/>
        <input type="image" src="images/rub.png" name="vybranaKarta14"/>
        <input type="image" src="images/rub.png" name="vybranaKarta15"/>

    </form>

</body>
</html>
